<div class="page-container">

  <!-- Header -->
  <div class="page-header">
    <div class="title-group">
      <h1 class="page-title">Clients</h1>
      <p class="page-subtitle">{{ clients.length }} client{{ clients.length > 1 ? 's' : '' }}</p>
    </div>

    <div class="header-actions">
      <button class="btn btn-primary" (click)="openAdd()">
        <span class="material-symbols-rounded">add</span>
        Nouveau
      </button>
      <button class="btn btn-primary" (click)="exceltexportclients(clients)">
         <span class="material-symbols-rounded">file_download</span>
          Exporter
      </button>
    </div>
  </div>

  <!-- Table Card -->
  <div class="table-card">

    <!-- Toolbar -->
    <div class="toolbar">
      <div class="search">
        <span class="material-symbols-rounded">search</span>
        <input
          type="text"
          placeholder="Rechercher un client..."
          [(ngModel)]="searchQuery"
          (ngModelChange)="applyFilter()"
        />
        <span
          *ngIf="searchQuery"
          class="material-symbols-rounded clr"
          (click)="searchQuery=''; applyFilter()"
        >
          close
        </span>
      </div>

      <button class="btn btn-ghost" (click)="loadClients()">
        <span class="material-symbols-rounded">refresh</span>
      </button>
    </div>

    <!-- Table -->
    <div class="tbl-wrap">

      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>ICE</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Ville</th>
            <th>Code Postal</th>
            <th class="c">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let client of pagedClients; let i = index" class="row">

            <td>
              <span class="ref-badge">{{ i + 1 }}</span>
            </td>

            <td>
              <div class="prod-cell">
                <div class="prod-av">{{ client.nom.charAt(0) }}</div>
                <span class="prod-name">{{ client.nom }}</span>
              </div>
            </td>
            <td>{{ client.ice }}</td>
            <td class="mono">{{ client.telephone }}</td>

            <td>{{ client.adresse }}</td>

          

            <td>{{ client.email }}</td>

            <td>{{ client.ville }}</td>

            <td>{{ client.codepostal }}</td>

            <td class="c">
              <div class="acts">
                <button class="act edit" (click)="openEdit(client)">
                  <span class="material-symbols-rounded">edit</span>
                </button>

                <button class="act del" (click)="deleteClient(client)">
                  <span class="material-symbols-rounded">delete</span>
                </button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>

      <!-- Empty -->
      <div *ngIf="clients.length === 0" class="empty">
        <span class="material-symbols-rounded">person_off</span>
        <p>Aucun client trouvé</p>
      </div>

    </div>
  </div>
</div>

<div *ngIf="totalPages > 1" class="pager">

  <span class="pager-info">
    {{ (currentPage-1)*pageSize+1 }}–
    {{ currentPage*pageSize > filteredClients.length ? filteredClients.length : currentPage*pageSize }}
    sur {{ filteredClients.length }}
  </span>

  <div class="pager-btns">
<div class="select-wrap">
  <select [(ngModel)]="pageSize" (change)="currentPage = 1">
    <option [value]="5">5 / page</option>
    <option [value]="10">10 / page</option>
    <option [value]="20">20 / page</option>
  </select>

  <span class="material-symbols-rounded">expand_more</span>
</div>
    <!-- Prev -->
    <button class="pg"
            [disabled]="currentPage === 1"
            (click)="goToPage(currentPage - 1)">
      <span class="material-symbols-rounded">chevron_left</span>
    </button>

    <!-- Pages -->
    <button *ngFor="let p of pages"
            class="pg"
            [class.pg-on]="p === currentPage"
            (click)="goToPage(p)">
      {{ p }}
    </button>

    <!-- Next -->
    <button class="pg"
            [disabled]="currentPage === totalPages"
            (click)="goToPage(currentPage + 1)">
      <span class="material-symbols-rounded">chevron_right</span>
    </button>

  </div>
</div>
<!-- Modal Client -->
<div *ngIf="showModal" class="overlay" (click)="closeModal()">
  <div class="modal" (click)="$event.stopPropagation()">

    <div class="m-head">
      <h3>{{ editMode ? 'Modifier Client' : 'Nouveau Client' }}</h3>
      <button class="m-close" (click)="closeModal()">
        <span class="material-symbols-rounded">close</span>
      </button>
    </div>

    <div class="m-body">

      <div class="fld">
        <label>Nom</label>
        <input type="text" [(ngModel)]="form.nom" placeholder="Ex: Ahmed Ali">
      </div>
       <div class="fld">
        <label>ICE</label>
        <input type="text" [(ngModel)]="form.ice" placeholder="Ex: 123456789">
      </div>
      <div class="fld">
        <label>Téléphone</label>
        <input type="text" [(ngModel)]="form.telephone" placeholder="Ex: 0612345678">
      </div>

      <div class="fld">
        <label>Adresse</label>
        <input type="text" [(ngModel)]="form.adresse" placeholder="Ex: Tanger">
      </div>

      <div class="fld">
        <label>Email</label>
        <input type="email" [(ngModel)]="form.email" placeholder="Ex: ahmed.ali@example.com">
      </div>

      <div class="fld">
        <label>Ville</label>
        <input type="text" [(ngModel)]="form.ville" placeholder="Ex: Tanger">
      </div>

      <div class="fld">
        <label>Code Postal</label>
        <input type="text" [(ngModel)]="form.codepostal" placeholder="Ex: 90000">
      </div>

    </div>

    <div class="m-foot">
      <button class="btn btn-outline" (click)="closeModal()">Annuler</button>

      <button class="btn btn-primary" (click)="saveClient()">
        <span class="material-symbols-rounded">
          {{ editMode ? 'save' : 'add' }}
        </span>
        {{ editMode ? 'Modifier' : 'Ajouter' }}
      </button>
    </div>

  </div>
</div>

<!-- Delete Modal -->
<div *ngIf="deleteTarget" class="overlay" (click)="cancelDelete()">
  <div class="modal modal-sm" (click)="$event.stopPropagation()">

    <div class="del-icon">
      <span class="material-symbols-rounded">warning</span>
    </div>

    <h3>Supprimer {{ deleteTarget.nom }} ?</h3>

    <p class="del-text">
      Ce client sera supprimé définitivement.
    </p>

    <div class="m-foot m-foot-center">

      <button class="btn btn-outline" (click)="cancelDelete()">
        Annuler
      </button>

      <button class="btn btn-danger"
              (click)="executeDelete()"
              [disabled]="deleting">

        <span class="material-symbols-rounded">
          delete
        </span>

        {{ deleting ? 'Suppression...' : 'Supprimer' }}
      </button>

    </div>

  </div>
</div>