<aside class="sidebar" [class.collapsed]="collapsed">
  
  <!-- TOP -->
  <div class="sidebar-top">
    <div class="brand">
      <img src="assets/logo.png" alt="Bôdélice" class="brand-img" [class.brand-img-sm]="collapsed" />
    </div>
    <div class="divider"></div>
  </div>

  <!-- MIDDLE (scrollable) -->
  <nav class="nav">
    <span *ngIf="!collapsed" class="nav-label">NAVIGATION</span>

    <a *ngFor="let item of menuItems"
       [routerLink]="item.route"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: item.route === '/dashboard'}"
       class="nav-item"
       [title]="collapsed ? item.label : ''">

      <span class="material-symbols-rounded nav-icon">
        {{ item.icon }}
      </span>

      <span *ngIf="!collapsed" class="nav-text">
        {{ item.label }}
      </span>

      

    </a>
  </nav>

  <!-- BOTTOM -->
  <div class="sidebar-bottom">
    <button class="collapse-btn" (click)="toggleCollapse.emit()">
      <span class="material-symbols-rounded">
        {{ collapsed ? 'chevron_right' : 'chevron_left' }}
      </span>
      <span *ngIf="!collapsed">Réduire</span>
    </button>
  </div>

</aside>